#container{

    height: 40px;
    color: black;
}
a{
    margin-left: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    color: rgb(240, 237, 237);

   
}

button{
    margin-top: 10px;
}

a:hover{
    background-color: rgb(210, 62, 21);
    border-radius: 30%;
    color: white;
}
button:hover{
    background-color: rgb(231, 20, 87);
    color: azure;
}

body{
    background: url(/Images/images.jpg);
    background-repeat:initial;
    background-size:cover;
    background-attachment:scroll;
}
h2{
    color: white;
     margin-left: 500px;
     margin-top: 200px;
     font-size: 40px;
     text-transform: uppercase;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: 200;
     
}

h2:hover{
    color: black;
}

.inc1{
    margin-left: 550px;
    padding:5px;
    border-radius: 20%;
    font-weight: bold;
    

}
.inc2{
    margin-left: 0px;
    padding:5px;    
    border-radius: 20%;
    font-weight: bold;
}
.inc1,.inc2:hover{
    background-color:chartreuse ;
}